img{
  width: 400px;
}
body {
  font-family: "Bodoni MT";
}
.namebackground{
        position: relative;
        margin: 0 auto;
        width: 100%;
        color: black;
        background: url("./background.jpg") no-repeat;
        background-size: 1600px 444px;
        background-position: center;
        padding-top: 100px;
        padding-bottom: 100px;
}
